html {
    min-height: 100%;
}
header {
    display:flex-end;   
}
.navbar {
    background-color: rgb(53, 58, 64);
    text-align: right;
    width:auto;
    padding-left: 30px;
    padding-right: 70px;
    color:white; 
}

.nav-item{
   display: flex;
}
.form {
    
    align-items: center;
}
.btn {
    background-color: rgb(171, 214, 96); 
}
div .footer {
    background-color:-webkit-linear-gradient(left, rgb(31, 55, 68), rgb(30, 82, 112)) ;
    justify-content: space-around;
}
.footerMenu li {
    padding-top: 0;
}

.footer li a {
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    
}  