html {
    min-height: 100%;
}
.img-fluid {
    max-width: 70%;
    height: auto;
}
.menu-container {
    background-color: dimgray;
    display: flex;
}
#menuNav {
    display: inline-block;
    text-decoration: none;
}

.nav-item{
    : right;
}
button{
    background-color: rgb(41, 167, 68);
}
input {
    background-color: rgb(150, 201, 62);
}
footer {
    background-color: rgb(29, 67, 88);
}